@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 77.083vw;
    max-width: 1480px;
    box-sizing: border-box;
    margin: 0 auto;
}

.banner {
    height: 750px;

    background-image: linear-gradient(90deg, rgba(18, 75, 70, 1) 0%, rgba(46, 140, 131, 0.8) 100%), url(img/Firefly\ imagem\ de\ funcionários\ felizes\ no\ escritório\ trabalhando\ sendo\ gamificados\ preto\ e\ branco\ 50\ 1.png);
    background-repeat: no-repeat;

}

header {
    height: 117px;
}

header img {
    width: 384px;


    display: flex;
    justify-content: center;
}

header .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.menu {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    font-size: 16px;
    font-family: "Poppins";

    color: #ebebeb;

    text-decoration: none;

}

.menu a:hover {
    color: #13293D;

}

.img {
    display: flex;
}

.icones-redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;
    width: 250px;
}

.icones-redes:hover {
    color: #13293D;
}

.conteudo-banner {
    margin: 0 auto;
    height: 470px;
    width: 1300px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-banner p {
    color: #ebebeb;

    font-family: "Outfit";
    font-size: 90px;
    font-weight: medium;
    text-align: center;
    justify-content: center;
}

.gamifique button {
    border-radius: 25px;
    width: 268px;
    height: 49px;
    background-color: #13293D;
    color: #ebebeb;
    font-family: "Outfit";
    font-size: 20px;
    margin: 0 auto;
    display: block;
    text-align: center;
    line-height: 40px;
    justify-content: center;
    margin-top: -15vh;
    border: none;
    transition: 300ms;
}

.gamifique button:hover {
    background-color: #30679B;
    color: #1E1A1B;
    transition: 300ms;
    cursor: pointer;
}

.parceiros p {
    text-align: center;
    font-family: "Outfit";
    font-size: 22px;
    padding-top: 65px;
    font-weight: 500;
}

.conteudo-parceiros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}


.carrossel {
    flex-wrap: nowrap;
    border-radius: 10px;
}

.cards {
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    margin-top: 90px;
}

.cards::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 auto;
    width: 300px;
    height: 341px;
    margin-right: 140px;
    background-color: #13293D;
    border-radius: 46px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    overflow: hidden;
}

.card img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.card p {
    font-family: "Poppins";
    font-size: 12px;
    color: #ebebeb;
    padding: 20px;
    text-align: center;
}

.portfolio {
    margin: 0;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio button {
    border-radius: 25px;
    width: 280px;
    height: 55px;
    background-color: #13293D;
    color: #ebebeb;
    font-family: "Outfit";
    font-size: 23px;
    margin: 0 auto;
    display: block;
    text-align: center;
    border: none;
    transition: 300ms;
}

.portfolio button:hover {
    background-color: #30679B;
    color: #1E1A1B;
    transition: 300ms;
    cursor: pointer;
}


.card-sobre {
    margin: 0 auto;
    height: 350px;
    width: 1250px;
    background-color: #13293D;
    border-radius: 50px;
    flex-wrap: wrap;
    align-content: center;
    -webkit-box-shadow: 0px 12px 33px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 12px 33px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 12px 33px 0px rgba(0, 0, 0, 0.25);
}

.card-sobre h2 {
    font-family: "Outfit";
    font-size: 30px;
    display: flex;
    color: white;
    font-weight: 500;
    text-align: center;
    margin: 25px 45px;
    margin-top: 10px;
}

.card-sobre p {
    font-family: "Poppins";
    font-size: 15px;
    color: white;
    font-weight: 400;
    text-align: left;
    margin: 15px 45px;
}

#banner-2 {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 114px;
    background-image: linear-gradient(90deg, rgba(18, 75, 70, 1) 0%, rgba(46, 140, 131, 0.8) 100%)
}

#banner-2 p {
    font-family: "Outfit";
    font-size: 65px;
    color: #ebebeb;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-3 {
    height: 650px;
    background-image: linear-gradient(90deg, rgba(19, 41, 61, 1) 0%, rgba(51, 110, 163, 0.8) 100%), url(img/banner3.png);
    display: flex;
    justify-content: center;
    align-items: center;
}



.form {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 730px;
    height: 469px;
    margin: 0 auto;
    background-color: #13293D;
    border-radius: 30px;
    padding: 52px;
}

.form h2 {
    font-family: "Outfit";
    font-size: 40px;
    font-weight: 500;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: -20px;
    color: white;
}

.card-formulario {
    width: 574px;


    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-formulario-descricao {
    width: 574px;


    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-formulario input {
    height: 46px;
    color: rgb(235, 235, 235, 0.2);
    background-color: #13293D;
    border: 2px solid #2E8C83;
    border-radius: 25px;
    text-indent: 10px;

    outline: none;

}

.card-formulario-descricao textarea {
    color: #ebebeb;
    background-color: #13293D;
    border: 2px solid #2E8C83;
    border-radius: 25px;

    outline: none;
    padding: 10px;
    resize: none;
}

.card-formulario label,
.card-formulario-descricao label {
    margin-bottom: 10px;
    font-family: "Outfit";
    font-size: 15px;
    font-weight: 100;
    color: #ebebeb;
}

.card-formulario input,
.card-formulario-descricao textarea {
    font-family: "Outfit";
    font-size: 15px;
    font-weight: 100;
}

.card-formulario::placeholder,
.card-formulario-descricao::placeholder {
    color: #ebebeb;
}

.card-formulario input:focus,
.card-formulario-descricao textarea:focus {
    outline: 1px solid #2E8EE5;
}

.form button {
    height: 30px;
    width: 202px;
    background-color: transparent;
    color: #2E8C83;

    border: 2px solid #2E8C83;
    border-radius: 26px;

    font-size: 18px;
    font-family: "Outfit";
    font-weight: 200;

    text-align: center;
    text-transform: capitalize;

    cursor: pointer;
    transition: 600ms;
}

.form button:hover {
    background-color: #30679B;
    border: none;
    transition: 600ms;
}

footer {
    background-color: #2E8C83;
    width: 100%;
}

footer .container-grid {
    height: 212px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.icones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.icone-telefone,
.icone-email,
.icone-instagram,
.icone-facebook,
.icone-linkedin {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.icones a {
    color: #ebebeb;
    margin-right: 5px;
    font-family: "Outfit";
    font-size: 20px;
    text-decoration: none;
    transition: 500ms;
}

.icones a:hover {
    color: #13293D;
    transition: 500ms;
}

.icone-facebook {
    margin-right: 0;
}

@media only screen and (max-width: 1300px) {

    .banner {
        font-size: 14px;
    }

    header {
        position: relative;
        height: 117px;
    }

    header img {
        width: 340px;
    }

    header .container-grid {
        gap: 10px;
    }

    .card-sobre {
        width: 1000px;
    }

    .menu {
        width: 250px;
    }

    .conteudo-banner p {
        font-size: 75px;
    }

    .conteudo-banner {
        width: 1000px; 
    }

    .menu a {
        font-size: 14px;

    }

    .icones-redes {
        width: 200px;
    }

    .gamifique button {
        margin-top: -25vh;
    }


}

@media screen and (max-width: 1080px) {

    header img {
        width: 300px;
    }
    .menu {
        width: 200px;
    }

    .container-grid.conteudo-banner {
        width: 1050px;
    }

    .card-sobre {
        width: 1000px;
    }

    .container-grid.conteudo-banner p {
        font-size: 75px;
    }

    .conteudo-parceiros img {
        width: 50%;
    }

    #banner-2 p {
        font-size: 50px;
    }

    .icones a {
        font-size: 17px;
    }
}