@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 77.083vw;
    max-width: 1480px;
    box-sizing: border-box;
    margin: 0 auto;
}

.banner {
    height: 750px;

    background-image: linear-gradient(90deg, rgba(18, 75, 70, 1) 0%, rgba(46, 140, 131, 0.8) 100%), url(img/Firefly\ imagem\ de\ funcionários\ felizes\ no\ escritório\ trabalhando\ sendo\ gamificados\ preto\ e\ branco\ 50\ 1.png);
    background-repeat: no-repeat;

}

header {
    height: 117px;
}

header img {
    width: 384px;
    height: 63px;

    display: flex;
    justify-content: center;
}

header .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.menu {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    font-size: 16px;
    font-family: "Poppins";

    color: #ebebeb;

    text-decoration: none;
}

.menu a:hover {
    color: #13293D;
}

.img {
    display: flex;
}

.icones-redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;

}

.icones-redes:hover {
    color: #13293D;
}

.container-grid.conteudo-banner {
    height: 470px;
    width: 1373px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container-grid.conteudo-banner p {
    color: #ebebeb;

    font-family: "Outfit";
    font-size: 90px;
    font-weight: medium;
    text-align: center;
}

.portfolio button {
    border-radius: 25px;
    width: 268px;
    height: 49px;
    background-color: #13293D;
    color: #ebebeb;
    font-family: "Outfit";
    font-size: 20px;
    margin: 0 auto;
    display: block;
    text-align: center;
    line-height: 40px;
    justify-content: center;
    margin-top: -15vh;
    border: none;
}

.portfolio button:hover {
    background-color: #30679B;
    color: #1E1A1B;
}

.parceiros {
   text-align: center;
   font-family: "Outfit";
   font-size: '22px';
   padding-top: 65px;
}

.conteudo-parceiros {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}